<?xml version="1.0"?>

<model>
  <name>dvrk_cart</name>
  <version>1.0</version>
  <sdf version="1.6">suj.sdf</sdf>

  <author>
    <name>Ankur Agrawal, Radian Azhar</name>
    <email>asagrawal@wpi.edu, ragondokaryono@wpi.edu</email>
  </author>

  <description>
    daVinci Research Kit
  </description>
</model>

