<?xml version="1.0" ?>
<robot name="master" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find dvrk_description)/psm/psm.urdf.xacro"/>

<link name="world"/>
<xacro:psm parent_link="world" prefix="psm_" xyz="0 0 0.1524" rpy="0 0 0"/>
<!--xacro:tool_lnd prefix="" parent_link="main_insertion_link" xyz="0 0 0" rpy="0 0 0"/-->

</robot>
