<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find dvrk_gazebo)/worlds/dvrk.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="true" />
  </include>
  <arg
    name="model" />

  <rosparam file="$(find dvrk_gazebo_control)/config/dvrk.yaml" command="load"/>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find dvrk_description)/dvrk/dvrk_full.sdf" />


  <node name="sdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-sdf -model dvrk -param robot_description"/>

  <param name="use_gui" value="$(arg gui)" />

  <node name="image_view_left" type="image_view" pkg="image_view">
  <remap from="image" to="/dvrk/ecm/camera/left/image_raw"/>
  </node>

  <node name="image_view_right" type="image_view" pkg="image_view">
  <remap from="image" to="/dvrk/ecm/camera/right/image_raw"/>
  </node>

</launch>
